table{
    border: 1px solid #000;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px slategray;
}
main{
    width: 40%;
    margin-top: 30px;
    
}
thead{
   color: white;
   background-color: rgb(110, 110, 145); 
   text-align: center;
}
tbody{
   text-align: center; 
}
th,td{ 
padding: 10px;
width: 10%;
}
td a{
    border: 1px solid #000;
    background-color: red;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5%;
    padding: 5px;
    border-radius: 15%;
}
#bak{
    background-color: rgb(23, 43, 218);
    border-radius: 5%;
    border: 1px solid #000;
    color: rgb(255, 255, 255);
    text-decoration: none;
   
}

